body
{
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
footer
{
    display: flex;
    justify-content: center;
    margin-top: 190px;
}
p
{
    margin: 0%;
    text-align: center;
}
main
{
    text-align: center;
    padding: 30px;
}
h1
{
    font-size: 100px;
    margin: auto;
    margin-top: 120px;
}
input
{
    width: 800px;
    height: 25px;
    border: 4px solid;
    margin: auto;
}
ul
{
    
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    color: blue;
    padding: 0px;
}
li
{
    border-right: 2px solid black;
    margin: 10px;
    padding-right: 10px;
    text-decoration: underline;
}
button
{
    height: 30px;
    box-shadow: 5px 5px black; 
}
#nav1
{
    display: flex;
    gap: 1100px  ;
    padding: 0%;
}

#botones
{
    margin:  20px;
    
    display: block;

}
#boton1
{
    margin-right: 10px;
}
.menu2
{
    margin: 0%;
}
#dife
{
    text-decoration: none;
    font-weight:  bold;
    color: black;
}
.busqueda
{
    margin: auto;
    display: flex;
}
#menuavan
{
    margin: 0px;
    display: inline-block;
    position: absolute;
    top: 290px;
    left: 1260px;
    
}
.busquedadif
{
    border: none;
}
